
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UserDto;


<div style="background-color: #bfc5c5;
    padding: 70px;
    text-align: right;">
    @Model.Bio

</div>