<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
    <div class="text-center">

        <div class="author-img" style="background-image: url(/images/about.jpg);"></div>
        <h1 id="colorlib-logo"><a href="index.html">Semicolon</a></h1>

    </div>
    <nav id="colorlib-main-menu" role="navigation" class="navbar">
        <div id="navbar" class="collapse">
            <ul>
                <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                <li><a href="#" data-nav-section="about">About</a></li>
                <li><a href="#" data-nav-section="services">Services</a></li>
                <li><a href="#" data-nav-section="skills">Skills</a></li>
                <li><a href="#" data-nav-section="education">Education</a></li>
                <li><a href="#" data-nav-section="experience">Experience</a></li>
                <li><a href="#" data-nav-section="work">Work</a></li>
                <li><a href="#" data-nav-section="blog">Blog</a></li>
                <li><a href="#" data-nav-section="contact">Contact</a></li>
                 </ul>
         
        </div>
        <div>
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/account/signOut">SignOut</a></li>
                }
                else
                {
                    <li><a href="/account/login">login</a></li>
                }


            </ul>
        </div>
    </nav>

 

</aside>