<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
    <div class="text-center">


        @if (Context.Request.Path != "/")
        {

        <a href="/@(User.FindFirst(c => c.Type == "urn:github:login")?.Value)">
            <div class="author-img" style="background-image: url(@(User.FindFirst(c => c.Type == "urn:github:avatar")?.Value);)"></div>
            </a>
        <a href="/">
            <div class="small-author-img" style=" background-image: url(/images/about.jpg)"></div>
            </a>
            }
            else
            {
            <a href="/"><div class="author-img" style=" background-image: url(/images/about.jpg)"></div></a>
            <a href="/@(User.FindFirst(c => c.Type == "urn:github:login")?.Value)">   <div class="small-author-img" style="background-image: url(@(User.FindFirst(c => c.Type == "urn:github:avatar")?.Value);)"></div></a>
            }

            <h1 id="colorlib-logo"><a href="index.html"> @(User.FindFirst(c => c.Type == "urn:github:login")?.Value)</a></h1>




</div>
    <nav id="colorlib-main-menu" role="navigation" class="navbar">
        <div class="collapse">
            <ul>
                <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                <li><a href="#" data-nav-section="about">About</a></li>
                <li><a href="#" data-nav-section="services">Services</a></li>
                <li><a href="#" data-nav-section="skills">Skills</a></li>
                <li><a href="#" data-nav-section="education">Education</a></li>
                <li><a href="#" data-nav-section="experience">Experience</a></li>
 
                <li><a href="/account/signOut">SignOut</a></li>
             
            </ul>
        </div>
    </nav>

 
</aside>