@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserDto;
<section class="colorlib-about" data-section="about">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="col-md-12">
                        <div class="about-desc text-right">
                         @*   <span class="heading-meta">About Us</span>*@
                            <h2 class="colorlib-heading text-right"><a href="/AboutMe/@Model.UserName"> درباره من</a> </h2>
                           @Model.Bio
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                        <div class="services color-1">
                            <span class="icon2"><i class="icon-bulb"></i></span>
                            <h3>Graphic Design</h3>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                        <div class="services color-2">
                            <span class="icon2"><i class="icon-globe-outline"></i></span>
                            <h3>Web Design</h3>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
                        <div class="services color-3">
                            <span class="icon2"><i class="icon-data"></i></span>
                            <h3>Software</h3>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
                        <div class="services color-4">
                            <span class="icon2"><i class="icon-phone3"></i></span>
                            <h3>Application</h3>
                        </div>
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                        <div class="hire">
                            <h2>I am happy to know you <br>that 300+ projects done sucessfully!</h2>
                            <a href="#" class="btn-hire">Hire me</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>