
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
 
<form id="post-form">
    <div class="form-group">
        <label class="form-label"></label>
        <input type="text" class="form-control" name="title" placeholder="عنوان">
    </div>
    <div class="form-group">

        <textarea class="form-control" name="description" style="height:500px" rows="6" placeholder="توضیحات"> </textarea>
    </div>
    <div class="form-group">
        <label class="form-label">تگ ها</label>
        <input type="text" class="form-control" id="input-tags" name="tags" value="">
    </div>
    <button  id="btn-submit" class="btn btn-primary">ثبت</button>
</form>
<script>
    require(['jquery', 'selectize'], function ($, selectize) {
        $(document).ready(function () {
            $('#input-tags').selectize({
                delimiter: ',',
                persist: false,
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    }
                }
            });

            $("#btn-submit").click(function () {
                debugger
                var data = $('#post-form').serialize()

                $.ajax({
                    url: "post/create",
                    cache: false,
                    success: function (html) {
                        alert("yes");
                    }
                });

          
            })
        });
   
    });

</script>